<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-card>
      <ion-card-content class="ion-text-center">
        <p>Guichê 1</p>
      </ion-card-content>
      <ion-button (click)="fazerChamadaAPI('guiche 1')">Chamar Senha</ion-button>
    </ion-card>

    <ion-card>
      <ion-card-content class="ion-text-center">
        <p>Guichê 2</p>
      </ion-card-content>
      <ion-button (click)="fazerChamadaAPI('guiche 2')">Chamar Senha</ion-button>
    </ion-card>

    <ion-card>
      <ion-card-content class="ion-text-center">
        <p>Guichê 3</p>
      </ion-card-content>
      <ion-button (click)="fazerChamadaAPI('guiche 3')">Chamar Senha</ion-button>
    </ion-card>

    <ion-card>
      <ion-card-content class="ion-text-center">
        <p>Guichê 4</p>
      </ion-card-content>
      <ion-button (click)="fazerChamadaAPI('guiche 4')">Chamar Senha</ion-button>
    </ion-card>

    <ion-card>
      <ion-card-content class="ion-text-center">
        <p>Guichê 5</p>
      </ion-card-content>
      <ion-button (click)="fazerChamadaAPI('guiche 5')">Chamar Senha</ion-button>
    </ion-card>
  </ion-grid>