<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="end" (click)="fecharModal()">Fechar</ion-button>
    <ion-title>{{atualizar ? 'Atualizar Senha Prioritária' : 'Cadastro de Senha Prioritária'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #f="ngForm" (ngSubmit)="enviando(f)">

    <ion-item>
      <ion-label position="floating">Data Prioritária de Senha</ion-label>
      <ion-input [(ngModel)]="dados_prioritaria.data_prioritaria" name="data_prioritaria" type="date" placeholder="Data de Senha Prioritária"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Hora do Atendimento</ion-label>
      <ion-input [(ngModel)]="dados_prioritaria.hora_atendimento" name="hora_atendimento" type="text" placeholder="Hora do Atendimento" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha Atual</ion-label>
      <ion-input [(ngModel)]="dados_prioritaria.senha_atual" name="senha_atual" type="text" placeholder="Senha Atual" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha Anterior</ion-label>
      <ion-input [(ngModel)]="dados_prioritaria.senha_anterior" name="senha_anterior" type="text" placeholder="Senha Anterior" ></ion-input>
    </ion-item>

    <ion-button fill="outline" expand="block" type="submit">{{atualizar ? 'Atualizar Senha Prioritária' : 'Cadastro de Senha Prioritária'}}</ion-button>

  </form>
</ion-content>
