<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Atendimento:
    </ion-title>
  </ion-toolbar>
</ion-header>

<br>
<br>
<br>
<br>
<br>
<br>

<!-- Botão Gerar senha Prioritaria | inicio -->
 <ion-grid>
  PRIORITARIA
  <br>
  <br>
  <ion-button id="present-alert1" (click)="cadastrarSenha('SP')"> Gerar Senha <ion-icon slot="end" name="ticket-outline"></ion-icon></ion-button>
<br>
<br>
<!-- Botão Gerar senha Prioritaria | Fim -->

<!-- Botão Gerar senha Geral | inicio -->
GERAL
<br>
<br>
<ion-button id="present-alert2" (click)="cadastrarSenha('SG')"> Gerar Senha <ion-icon slot="end" name="ticket-outline"></ion-icon></ion-button>
<br>
<br>
<!-- Botão Gerar senha Geral | Fim -->

<!-- Botão Gerar senha exames | inicio -->
EXAMES
<br>
<br>
<ion-button id="present-alert3" (click)="cadastrarSenha('SE')"> Gerar Senha <ion-icon slot="end" name="ticket-outline"></ion-icon></ion-button>

</ion-grid>
<!-- Botão Gerar senha exames | Fim -->